<%layout("/layout/boilerplate")%>
<div class="row mt-3"> 

<h3 class="col-6 offset-2">Login on Wanderlust</h3>

    <div class="col-6 offset-2">
      

<form method="POST" action="/login" novalidate class="needs-validation">
     <div class="mb-3">
        <label for="username" class="form-label" >Username</label>
        <input name="username" placeholder="enter Username" type="text" class="form-control" required>
        <div class="valid-feedback">correct</div>
        </div>



        <div class="mb-3">
        <label for="password" class="form-label" >Password</label>
        <input name="password" placeholder="enter password" type="text" class="form-control" required>
        <div class="valid-feedback">correct</div>
        </div>
<button class="btn btn-success">login</button>
        </form>
        </div>
        </div>